.qzhub_signup_form_face_recognition {

  width: 400px;
  margin:auto;
  .qzhub_container {
    text-align: center;
    #progress-bar{
      display: none;
      background-color: #7C7BAD;

    }
    .video_rec{
      height: 300px;
      width: 100%;
      //border: 5px solid #7C7BAD;
      transform: rotateY(180deg);
    }
  }
}

