.qzhub_action_photobooth_face_recognition {

  width: 400px;
  margin:auto;
  .qzhub_container {
    width: 400px;
    text-align: center;
    align-content: center;
    margin: 0;
    border: 0;
    .progress {
      margin-top: 0;
    }

    #progress-bar{
      display: none;
      background-color: #7C7BAD;

    }
    .video_rec{
      height: 300px;
      border: 5px solid #7C7BAD;
    }
  }
}